body {
    background-color: rgb(47, 71, 95);

}

.gallery {
   display: flex;
    flex-wrap: wrap;
    margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 20px;
}

.search-form {
    margin-top: 20px;
}

.photo-card {
    margin: 10px 10px 10px 10px;
    background-color: aliceblue;
}

.info{
    display: flex;
    flex-wrap: wrap;
  
}

.info-item {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-right: 13px;
    
}

.total-span {
    font-style: italic;
    color: rgb(255, 0, 0);
    
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 0.1px rgb(217, 198, 198);
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 30px;
}

.load-more {
    background-color: rgb(255, 4, 4);
    color: aliceblue;
    height: 50px;
    width: 180px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
   margin-bottom: 20px;
}

.search-button {
        background-color: rgb(255, 4, 4);
        color: aliceblue;
        height: 30px;
        width: 120px;
        border-radius: 10px;
        margin-left: 10px;
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        margin-right: 20px;
    }

 .text-input {
    height: 20px;
        width: 220px;
        margin-left: 10px;
        box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 30px;
 }

 .photo-card {
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
 }

 